.ul {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.li {
  background: transparent;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #bdbebe;
  margin: 5px;
  cursor: pointer;
}
.li a {
  color: #bdbebe;
  font-family: cursive;
  font-size: 1.3rem;
  text-decoration: none;
}
.select {
  /* /* border-radius: 10px; */
  border: none;
  background: transparent;
  width: fit-content;
  height: 40px;
  cursor: pointer;
  color: #bdbebe;
  font-family: cursive;
  font-size: 1.3rem;
}
